<ul class="list-unstyled components mb-5">
	<li class="active">
		<a href="/Static/"><span class="fa fa-home mr-2"></span> Dashboard</a>
	</li>
	<li>
		<a href="/Categories/"><span class="bi bi-bookmark-plus mr-2"></span> Kategoriler</a>
	</li>
	<li>
		<a href="/About/"><span class="bi bi-file-person-fill mr-2"></span> Hakkımızda</a>
	</li>
	<li>
		<a href="/Education/"><span class="bi bi-backpack mr-2"></span> Eğitim</a>
	</li>
	<li>
		<a href="/Job/"><span class="bi bi-briefcase mr-2"></span> İş</a>
	</li>
	<li>
		<a href="/Categories/"><span class="bi bi-chat-square-text mr-2"></span> Mesajlar</a>
	</li>
	<li>
		<a href="/Project/"><span class="bi bi-journal-code mr-2"></span> Projeler</a>
	</li>
	<li>
		<a href="/Service/"><span class="bi bi-command mr-2"></span> Hizmetler</a>
	</li>
	<li>
		<a href="/Skill/"><span class="bi bi-database mr-2"></span> Yetenekler</a>
	</li>
	<li>
		<a href="/Categories/"><span class="fa fa-user mr-2"></span> Slider</a>
	</li>
	<li>
		<a href="/Testimonial/"><span class="bi bi-people mr-2"></span> Referanslar</a>
	</li>
	<li>
		<a href="/Categories/"><span class="bi bi-house mr-2"></span> Sayafa Git</a>
	</li>
	<li>
		<a href="/Categories/"><span class="bi bi-envelope mr-2"></span> İletişim</a>
	</li>
</ul>