
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Deneyim Sayfası</h1>

<br />

<div class="card-header border-0">
    <h3 class="mb-0">Deneyim Listesi Tablosu</h3>
</div>
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort">#</th>
                <th scope="col" class="sort">Tür</th>
                <th scope="col" class="sort">Başlangıç Yılı</th>
                <th scope="col" class="sort">Bitiş Yılı</th>
                <th scope="col" class="sort">Firma Adı</th>
                <th scope="col" class="sort">Açıklama</th>
                <th scope="col" class="sort">Düzenle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody class="list">
            <tr>
                <th scope="row">1</th>
                <th scope="row">Staj</th>
                <td>2025.01.01</td>
                <td>Devam Ediyor</td>
                <th>Acunmdeya Akademi</th>
                <td>C# Asp.Net Core</td>
                <td><a href="#" class="btn btn-info">Güncelle</a></td>
                <td><a href="#" class="btn btn-danger">Sil</a></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <th scope="row">Staj</th>
                <td>2021.08.01</td>
                <td>2022.07.01</td>
                <th>Game Of Zone</th>
                <td>Pazarlama Ve Marketing</td>
                <td><a href="#" class="btn btn-info">Güncelle</a></td>
                <td><a href="#" class="btn btn-danger">Sil</a></td>
            </tr>
        </tbody>
    </table>

</div>